.form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--standard-white);
    margin: 0;
    box-shadow: 5px 5px 20px 2px var(--standard-blue);
}

.label__inputs {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 1vh 0;
    font-size: 1.2rem;
}

.input__data, .button__save {
    height: 4vh;
    font-size: 1.2rem;
}

.date__birth {
    width: 140px;
}

.button__save {
    background-color: var(--standard-blue);
    color: var(--standard-white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:720px) {
    .form__registration {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .form__inputs {
        flex-direction: row;
        align-items:flex-end;
    }

    .label__inputs, .input__data {
        width: 150px;
        font-size: 1rem;
        margin: 0 14px 0 0;
    }

    .label__birth, .date__birth {
        width: 120px;
        margin: 0 10px 0 0;
    }

    .button__save {
        height: 4.5vh;
    }
}