.form__body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form__tittle {
    text-align: center;
}

.form__registration {
    font-size: 1.5rem;
    display: inline-block;
    background-color: var(--standard-white);
    box-shadow: 0px 0px 2px 2px var(--standard-black);
    border-radius: 5px;
}

.form__input {
    display: flex;
    flex-direction: column;
    width: 60vw;
    border: none;
}

.label__inputs {
    width: 60vw;
}

.input__data {
    height: 5vh;
    width: 60vw;
    font-size: 1.5rem;
}

.date__birth {
    width: 180px;
}

.form__button {
    justify-content: center;
}

.button__save {
    width: 30vw;
    height: 5vh;
    color: var(--standard-white);
    border: none;
    border-radius: 5px;
    background-color: var(--standard-blue);
    text-align: center;
}

@media screen and (min-width:720px) {
    .form__registration {
        display: flex;
        padding: 3vh 0;
    }

    .form__input, .label__inputs, .input__data {
        width: 18vw;
    }

    .date__birth {
        width: 200px;
    } 
}