@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --standard-grey: #eeeeee;
  --standard-white: #ffffff;
  --standard-black: #000000;
  --standard-blue: #3838e0;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: var(--standard-grey);
}