:root {
  --standard-grey: #eeeeee;
  --standard-white: #ffffff;
  --standard-black: #000000;
  --standard-blue: #3838e0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--standard-grey);
}